body[data-content="admin"]{
    background-color: $adminDeepGrey;

    .main-admin{
        width: 100%;
        height: 100vh;
        padding: 50px 0;

        h1{
            font-size: 1.3em;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .nav-admin{
            display: flex;
            width: 100%;
            position: relative;
            margin-bottom: 50px;

            &:after{
                content: "";
                display: block;
                width: 100%;
                background-color: rgba(0,0,0,.1);
                height: 1px;

                position: absolute;
                bottom: -20px;

                z-index: 5;
            }

            .is-selected{
                color: rgba(0,0,0,.9);
                position: relative;

                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    background-color: $deepBlue;
                    height: 3px;

                    position: absolute;
                    bottom: -20px;

                    z-index: 10;
                }
            }

            span{
                font-family: "Roboto", Arial, sans-serif;
                font-size: 1em;
                font-weight: 400;
                color: rgba(0,0,0,.2);
                margin-right: 40px;
            }
        }

        .user_data{

            height: 50vh;

            .data-categories{

                display: flex;
                justify-content: flex-start;
                align-items: center;

                box-sizing: border-box;
                padding: 40px 60px 40px 105px;

                background-color: #FFF;

                border-radius: 4px 4px 0px 0px;
                -moz-border-radius: 4px 4px 0px 0px;
                -webkit-border-radius: 4px 4px 0px 0px;
                border: 0px solid #000000;

                -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
                -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);

                >div{
                    width: 100%;

                    display: flex;

                    >div:first-child{
                        width: calc((100%/5 - 20px) + 80px);
                        overflow-x: hidden;
                        white-space: nowrap;
                        margin-right: 20px;
                    }

                    div:not(first-child){
                        width: calc((100%/5 - 20px) - 20px);
                        overflow-x: hidden;
                        white-space: nowrap;
                        margin-right: 20px;
                    }
                }

                span{
                    text-transform: uppercase;
                }
            }

            .data-content{
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    padding: 15px 50px;

                    background-color: #FFF;

                    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
                    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
                    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);

                    &:nth-of-type(2n+1){
                        background-color: $adminLightGrey;
                    }

                    >div:first-child{
                        display: flex;
                        margin-right: 10px;

                        img{
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    >div:nth-of-type(2){
                        width: 100%;

                        display: flex;

                        >div:first-child{
                            width: calc((100%/5 - 20px) + 80px);
                            overflow-x: hidden;
                            white-space: nowrap;
                            margin-right: 20px;
                        }

                        div:not(first-child){
                            width: calc((100%/5 - 20px) - 20px);
                            overflow-x: hidden;
                            white-space: nowrap;
                            margin-right: 20px;
                        }
                    }

                    >div:last-child{
                        i{
                            width: 10px;
                            color: #c4c4c4;
                            cursor: pointer;
                        }
                    }


                }
            }

            span{
                font-family: "Roboto", Arial, sans-serif;
                font-size: 0.9em;
                font-weight: 500;
                opacity: .5;
            }
        }
    }
}
