body[data-content="admin"]{
    background-color: $adminDeepGrey;

    .main-admin{
        width: 100%;
        padding: 50px 0;

        h1{
            font-size: 1.3em;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .admin-nav{

            display: flex;
            width: 100%;
            position: relative;
            margin-bottom: 50px;

            user-select: none;

            &:after{
                content: "";
                display: block;
                width: 100%;
                background-color: rgba(0,0,0,.1);
                height: 1px;

                position: absolute;
                bottom: -20px;

                z-index: 5;
            }

            span{
                font-family: "Roboto", Arial, sans-serif;
                font-size: 1em;
                font-weight: 400;
                color: rgba(0,0,0,.2);
                margin-right: 40px;

                cursor:pointer;

                position: relative;

                transition: .2s;

                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    background-color: $deepBlue;
                    height: 0;

                    position: absolute;
                    bottom: -20px;

                    z-index: 10;

                    transition: .2s;
                }
            }

            .is-selected{
                color: rgba(0,0,0,.9);

                transition: .2s;

                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    background-color: $deepBlue;
                    height: 3px;

                    position: absolute;
                    bottom: -20px;

                    z-index: 10;

                    transition: .2s;
                }
            }
        }

        .admin-data{

            border-radius: 4px 4px 0px 0px;
            -moz-border-radius: 4px 4px 0px 0px;
            -webkit-border-radius: 4px 4px 0px 0px;
            border: 0px solid #000000;

            -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);

            overflow: hidden;

            .data-categories{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                box-sizing: border-box;

                background-color: #FFF;

                border-bottom: 2px solid $deepBlue;

                span{
                    text-transform: uppercase;
                }
            }

             .data-content{

                 max-height: 60vh;
                 overflow-y: auto;
                 scrollbar-width: none;
                 &::-webkit-scrollbar {
                     display: none;
                     overflow: -moz-scrollbars-none;
                 }

                 >div {
                     background-color: #FFF;

                     &:nth-of-type(2n+1){
                         background-color: $adminLightGrey;
                     }

                     .data-content-main{
                         cursor: pointer;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         box-sizing: border-box;
                         padding: 15px 50px;

                         -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
                         -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
                         box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);

                         user-select: none;
                     }

                     .data-content-hidden{
                         background-color: $deepBlue-fade;

                         box-sizing: border-box;
                         padding: 15px 50px;

                         display: flex;

                         >div{
                             display: flex;
                             justify-content: space-between;
                             width: 45%;

                             div{
                                 margin: 10px 0;
                             }

                             &:first-child{
                                 display: flex;
                                 flex-direction: column;
                             }
                         }
                     }

                     .is-hidden{
                         display: none;
                     }
                 }
            }

            span{
                font-family: "Roboto", Arial, sans-serif;
                font-size: 0.9em;
                font-weight: 500;
                opacity: .5;
            }
        }

        .user_data{
            .data-categories{

                padding: 40px 60px 40px 105px;

                >div{
                    width: 100%;

                    display: flex;

                    >div:first-child{

                        width: 30%;
                        white-space: nowrap;
                        box-sizing: border-box;
                        padding-right: 20px;
                    }

                    div:not(first-child){
                        width: calc(70%/4);
                        white-space: nowrap;
                        box-sizing: border-box;
                        padding-right: 20px;
                    }
                }
            }

            .data-content{

                >div{

                    .data-content-main{
                        >div:first-child{
                            display: flex;
                            margin-right: 10px;

                            img{
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                        >div:nth-of-type(2){
                            width: 100%;

                            display: flex;

                            >div:first-child{

                                width: 30%;
                                white-space: nowrap;
                                box-sizing: border-box;
                                padding-right: 20px;
                            }

                            div:not(first-child){
                                width: calc(70%/4);
                                white-space: nowrap;
                                box-sizing: border-box;
                                padding-right: 20px;
                            }
                        }

                        >div:last-child{
                            i{
                                width: 10px;
                                color: #c4c4c4;
                                cursor: pointer;
                            }
                        }
                    }


                }
            }
        }

        .advertisement_data{

            .data-categories{

                padding: 40px 60px 40px 105px;

                >div{
                    width: 100%;

                    display: flex;

                    >div:first-child{
                        width: calc((100%/5 - 20px) + 80px);
                        overflow-x: hidden;
                        white-space: nowrap;
                        margin-right: 20px;
                    }

                    div:not(first-child){
                        width: calc((100%/5 - 20px) - 20px);
                        overflow-x: hidden;
                        white-space: nowrap;
                        margin-right: 20px;
                    }
                }
            }

            .data-content{

                >div{
                    .data-content-main{
                        >div:first-child{
                            display: flex;
                            margin-right: 10px;

                            img{
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                        >div:nth-of-type(2){
                            width: 100%;

                            display: flex;

                            >div:first-child{
                                width: calc((100%/5 - 20px) + 80px);
                                overflow-x: hidden;
                                white-space: nowrap;
                                margin-right: 20px;
                            }

                            div:not(first-child){
                                width: calc((100%/5 - 20px) - 20px);
                                overflow-x: hidden;
                                white-space: nowrap;
                                margin-right: 20px;
                            }
                        }

                        >div:last-child{
                            i{
                                width: 10px;
                                color: #c4c4c4;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
