body {

	.msgConfirm {
		background-color: lightgreen;
		opacity: 0;
		position: fixed;
		top: 50px;
		left: 50px;
		color: white;
		padding: 40px;
		border-radius: 50px;
		z-index: 999;
		animation: hide 5s
	}

	@keyframes hide {
		0% {
			opacity: 1;
		}

		75% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	.select2-container {
		min-width: 180px;
		margin-right: 10px;
	}

	#date {
		background-color: white;
		border: 1px solid #aaa;
		border-radius: 4px;
		cursor: text;
		padding: 4px;
	}

	.more_filter {
		display: flex;
		align-items: center;
		width: 65%;
		margin: 0 auto;
		margin-top: 20px;
		cursor: pointer;
		display: none;

		&.js-active {
			display: flex;
		}

		p {
			margin-left: 10px;
			color: $darkGrey;
		}
	}

	.first_filter_more {
		width: 60%;
		box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 0 auto;
		margin-top: 35px;
		padding: 20px;
		display: none;

		&.js-active {
			display: block;
		}

		.first_filter_more_content {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			label {
				font-weight: 400;
				font-size: 1em;
			}

			input {
				margin-left: 30px;

				&[type="checkbox"] {
					margin-right: 10px;
					cursor: pointer;

					&:checked {
						background-color: $deepBlue;
					}
				}
			}

			select {
				margin-left: 30px;
				border-radius: 5px;
				border: 1px solid $lightGrey;
				
			}
		}

		.less_filter {
			display: flex;
			align-items: center;
			margin-top: 30px;
			cursor: pointer;

			p {
				color: $darkGrey;
				margin-left: 10px;
			}
		}
	}

	#second_filter {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		input {
			height: 20px;
			width: 20px;
			margin: 0 10px 0 20px;
			cursor: pointer;
		}

		.second_filter_child {
			display: flex;
			align-items: center;

			.advertisement {
				display: flex;
				align-items: center;

				>svg {
					margin-right: 10px;
					margin-left: 30px;

					&#filter_skier {
						margin-left: 0;
					}
				}
			}

			select {
				border: none;
				outline: 0;
			}
		}
	}

	#advertisement_section {
		display: flex;
		justify-content: space-between;

		.advertisement_container {
			margin-top: 40px;

			&.all {
				.advertisement_content {
					display: flex;
					width: 650px;
					box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
					border-radius: 5px;
					position: relative;
					cursor: pointer;
					margin-bottom: 20px;
					overflow: hidden;

					.profil_picture_container {
						overflow: hidden;
						height: 200px;
						width: 150px;
						text-align: center;

						img {
							height: 100%;
							margin-left: 50%;
							transform: translateX(-50%);
						}
					}

					.infos {
						padding: 20px 0;
						margin-left: 15px;

						h3 {
							font-size: 1.4em;
							font-family: "Roboto", Arial, sans-serif;
						}

						.info_content {
							display: flex;
							margin-top: 10px;

							.more {
								width: 100px;

								>p {
									color: white;
									background-color: $deepBlue;
									text-align: center;
									margin-bottom: 10px;
									padding: 10px 0;
									border-radius: 9px;
								}
								
								.seller_infos {
									display: flex;
									justify-content: space-between;
									align-items: center;
								}
							}

							.desc {
								font-weight: 300;
								margin-left: 35px;
								width: 200px;
								line-height: 18px;
							}
						}
					}

					.picto {
						position: absolute;

						&.like {
							top: 20px;
							right: 20px;
						}

						&.urgent {
							top: 60px;
							right: 20px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			&.premium {
				.advertisement_content_premium {
					display: flex;
					width: 500px;
					box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
					border-radius: 5px;
					position: relative;
					cursor: pointer;
					margin-bottom: 20px;
					overflow: hidden;

					.profil_picture_container_premium {
						overflow: hidden;
						height: 275px;
						width: 150px;
						text-align: center;

						img {
							height: 100%;
							margin-left: 50%;
							transform: translateX(-50%);
						}
					}

					.infos_premium {
						padding: 20px 0;
						margin-left: 15px;

						h3 {
							font-size: 1.4em;
							font-family: "Roboto", Arial, sans-serif;
							width: 300px;
						}

						.info_content_premium {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-top: 10px;
							width: 225px;

							.price {
								color: white;
								background-color: $deepBlue;
								text-align: center;
								padding: 10px 30px;
								border-radius: 9px;
							}
						}

						.desc {
							font-weight: 300;
							width: 200px;
							line-height: 18px;
							margin-top: 20px;
						}
					}

					.picto {
						position: absolute;

						&.like {
							top: 20px;
							right: 20px;
						}

						&.urgent {
							top: 60px;
							right: 20px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}