body {

	.msgConfirm {
		background-color: lightgreen;
		opacity: 0;
		position: fixed;
		top: 50px;
		left: 50px;
		color: white;
		padding: 40px;
		border-radius: 50px;
		z-index: 999;
		animation: hide 5s;
		pointer-events: none;
	}

	@keyframes hide {
		0% {
			opacity: 1;
		}

		75% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	.effaceFilters {
	    width: 100%;
	    display: flex;
	    margin: 20px 0;

		a {
			color: black;
			margin: auto;
		}
	}

	.more_filter {
		display: flex;
		width: 150px;
		margin: 0 auto;
		margin-top: 20px;
		cursor: pointer;
		display: none;

		&.js-active {
			display: flex;
		}

		p {
			margin-left: 10px;
			color: $darkGrey;
		}
	}

	.first_filter_more {
		width: 60%;
		box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 0 auto;
		margin-top: 35px;
		padding: 20px;
		display: none;

		&.js-active {
			display: block;
		}

		.first_filter_more_content {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			label {
				font-weight: 400;
				font-size: 1em;
			}

			input {
				margin-left: 30px;

				&[type="checkbox"] {
					margin-right: 10px;
					cursor: pointer;

					&:checked {
						background-color: $deepBlue;
					}
				}
			}

			select {
				margin-left: 30px;
				border-radius: 5px;
				border: 1px solid $lightGrey;
				
			}
		}

		.less_filter {
			display: flex;
			align-items: center;
			margin-top: 30px;
			cursor: pointer;

			p {
				color: $darkGrey;
				margin-left: 10px;
			}
		}
	}

	#second_filter {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		width: 70%;

		input {
			height: 20px;
			width: 20px;
			margin: 0 10px 0 20px;
			cursor: pointer;
		}

		.second_filter_child {
			display: flex;
			align-items: center;

			.advertisement {
				display: flex;
				align-items: center;

				>svg {
					margin-right: 10px;
					margin-left: 30px;

					&#filter_skier {
						margin-left: 0;
					}
				}
			}

			select {
				border: none;
				outline: 0;
			}
		}
	}

	#advertisement_section {
		display: flex;
		justify-content: space-between;

		.divLeft {
			width: 70%;
		}

		.divRight {
			width: 30%;
			margin-left: 30px;
			margin-top: 14px;

			.titre {
				text-align: center;
				margin-bottom: 10px;	
			}
		}

		.divPage {

			font-size: 130%;

			span {
				padding: 5px 13px 5px 0;
				cursor: pointer
			}

			span:hover {
				font-weight: 900;
				text-decoration: underline;
			}

			.selected {
				font-weight: 900;
				text-decoration: underline;
			}
		}

		.advertisement_container {
			margin-top: 40px;

			&.all, &.premium {

				.advertisement_content {
					display: flex;
					width: 100%;
					box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
					border-radius: 5px;
					position: relative;
					cursor: pointer;
					margin-bottom: 20px;
					overflow: hidden;

					.profil_picture_container {
						overflow: hidden;
						height: 200px;
						width: 25%;
						text-align: center;

						img {
							height: 100%;
							margin-left: 50%;
							transform: translateX(-50%);
						}
					}

					.content {
						width: 75%;
					}

					.infos {
						padding: 20px 0;
						margin-left: 15px;

						h3 {
							font-size: 1.4em;
							font-family: "Roboto", Arial, sans-serif;
							width: 80%;
    						overflow: hidden;
    						text-overflow: ellipsis;
						}

						.info_content {
							display: flex;
							margin-top: 10px;

							.more {
								min-width: 90px;
								max-width: 90px;

								>p {
									color: white;
									background-color: $deepBlue;
									text-align: center;
									margin-bottom: 10px;
									padding: 10px 10px;
									border-radius: 9px;
									display: inline-flex;
								}
								
								.seller_infos {
									display: flex;
									justify-content: space-between;
									align-items: center;
								}
							}

							.desc {
								font-weight: 300;
								margin: 0 20px;
								line-height: 18px;
								height: 110px;
								overflow: hidden;
								font-size: 90%;
							}
						}
					}

					.picto {
						position: absolute;

						&.like {
							top: 20px;
							right: 20px;
						}

						&.urgent {
							top: 20px;
							right: 60px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			&.premium {
				margin-left: 0;
				margin-top: 0;
				
				.advertisement_content {
					display: block;
					width: 100%;
					box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
					border-radius: 5px;
					position: relative;
					cursor: pointer;
					margin-bottom: 20px;
					overflow: hidden;

					.profil_picture_container {
						overflow: hidden;
						height: auto;
						width: 100%;
						text-align: center;

						img {
							width: 100%;
						}
					}

					.content {
						width: 100%;
					}

					.infos {
						padding: 20px 0;
						margin-left: 15px;

						h3 {
							font-size: 1.4em;
							font-family: "Roboto", Arial, sans-serif;
							width: 300px;
						}

						.info_content {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-top: 10px;

							.price {
								color: white;
								background-color: $deepBlue;
								text-align: center;
								padding: 10px 30px;
								border-radius: 9px;
							}
						}

						.desc {
							font-weight: 300;
							width: 200px;
							line-height: 18px;
							margin-top: 20px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.divAllAdvert {
		display: flex;
		justify-content: center;

		a {
			color: black;
		}
	}

	/* autocomplete */

	.autocomplete {
		position: relative;
		display: inline-block;
		display: flex;
	}

	.autocomplete-items {
		position: absolute;
		border: 1px solid #d4d4d4;
		border-bottom: none;
		border-top: none;
		z-index: 99999999999;
		top: 100%;
		left: 0;
		right: 0;

		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;

		max-height: 250px;
		overflow: auto;
	}
	.autocomplete-items div {
		padding: 10px;
		cursor: pointer;
		color: black;
		background-color: #fff;
		border-bottom: 1px solid #d4d4d4;
	}
	.autocomplete-items div:hover {
		background-color: #e9e9e9;
	}
	.autocomplete-active {
		background-color: DodgerBlue !important;
		color: #ffffff;
	}
}