body {

.msgNoAd {
	margin-top:30px;
	text-align: center;
}

.bar {
	display: flex;
	width: 100%;
	align-items: center;
	margin-left: 15px;
}


.divSlider {
    position: relative;
    width: 80%;
    margin: 0 10px;
	align-items: center;
	display: flex;
    height: 35px;
    text-align: center;
}

.salaireMin {
    width: 40px;
    text-align: right;
    margin-right: 3px;
}

.salaireMax {
    width: 48px;
}

.divSlider input {
	outline: none;
    pointer-events: none;
	-webkit-appearance: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
    margin: 0;
    padding: 0;
    border-radius: 8px;                     
	background: #CCC;         
	cursor: pointer;
	margin-left: 0 !important;
}

.divSlider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid black;
}

@supports (--css: variables) {
	.divSlider input {
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				lightgrey var(--low), var(--range-color) 0,
				var(--range-color) var(--high), lightgrey 0
			) no-repeat 0 45% / 100% 40%;
		--range-color: hsl(190, 80%, 40%);
	}
}

.inpTop::-webkit-slider-thumb {
	z-index: 500 !important;
}
.inpTop::-moz-range-thumb {
	z-index: 500 !important;
}

	.msgConfirm {
		background-color: lightgreen;
		opacity: 0;
		position: fixed;
		top: 50px;
		left: 50px;
		color: white;
		padding: 40px;
		border-radius: 50px;
		z-index: 999;
		animation: hide 5s;
		pointer-events: none;
	}

	@keyframes hide {
		0% {
			opacity: 1;
		}

		75% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	.effaceFilters {
	    width: 100%;
	    display: flex;
	    margin: 20px 0;

		a {
			color: black;
			margin: auto;
		}
	}

	.more_filter {
		display: flex;
		width: 150px;
		margin: 0 auto;
		margin-top: 20px;
		cursor: pointer;
		display: none;

		&.js-active {
			display: flex;
		}

		p {
			margin-left: 10px;
			color: $darkGrey;
		}
	}

	.first_filter_more {
		width: 60%;
		box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 0 auto;
		margin-top: 35px;
		padding: 20px;
		display: none;

		&.js-active {
			display: block;
		}

		.first_filter_more_content {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			label {
				font-weight: 400;
				font-size: 1em;
			}

			input {
				margin-left: 30px;

				&[type="checkbox"] {
					margin-right: 10px;
					cursor: pointer;

					&:checked {
						background-color: $deepBlue;
					}
				}
			}

			select {
				margin-left: 30px;
				border-radius: 5px;
				border: 1px solid $lightGrey;
				
			}
		}

		.less_filter {
			display: flex;
			align-items: center;
			margin-top: 30px;
			cursor: pointer;

			p {
				color: $darkGrey;
				margin-left: 10px;
			}
		}
	}

	#second_filter {
		display: flex;
		margin-top: 40px;
		width: 70%;

		input {
			height: 20px;
			width: 20px;
			margin: 0 10px 0 20px;
			cursor: pointer;
		}

		.second_filter_child {
			display: flex;
			align-items: center;

			.advertisement {
				display: flex;
				align-items: center;

				>svg {
					margin-right: 10px;
					margin-left: 30px;

					&#filter_skier {
						margin-left: 0;
					}
				}
			}

			select {
				border: none;
				outline: 0;
			}
		}
		
		.right {
			margin-left: 20px;
		}
	}

	.sAnnonces {
		.wrap {
			padding-right: 0;
			margin: 0;
			max-width: none;
		}
	}

	#advertisement_section {
		display: flex;
		justify-content: space-between;
		padding-right: 0;

		.divM, .divMap {
			min-width: 200px;
			height: 100vh;
			position: sticky;
			top: 0;
			margin-left: 30px;
    		border-radius: 5px;
		}

		.divM {
			margin-top: 10px;

			i {
				padding: 5px;
				cursor: pointer;
				transition: transform 1s;
				font-size: 120%;
			}

			i:hover {
				opacity: 0.5;
			}

			.divMap {
				width: 100%;
				margin-left: 0;
				height: 100%;
			}
		}

		.mapHidden {
			min-width: 25px;
			width: 25px;

			.divMap {
				display: none;
			}

			.hideMap {
				transform: rotate(180deg);
			}
		}

		.mapFull {
			position: fixed;
			width: 90vw;
			height: 90vh;
			z-index: 999;
			margin: 0;
			top: 0;
		    left: 50%;
		    margin-left: -45vw;

			.reste {
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				position: fixed;
				z-index: -1;
				background-color: #00000073;
			}
		}

		.divLeft {
			min-width: 300px;
		}

		.divRight {
			width: 300px;
			margin-left: 30px;

			.titre {
				text-align: center;
				height: 0px;
			}
		}

		.divPage {

			font-size: 130%;

			span {
				padding: 5px 13px 5px 0;
				cursor: pointer
			}

			span:hover {
				font-weight: 900;
				text-decoration: underline;
			}

			.selected {
				font-weight: 900;
				text-decoration: underline;
			}
		}

		.advertisement_container {
			margin-top: 40px;
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}

		.advertisement_content {
			max-width: 1100px;
		}

	}

	.divAllAdvert {
		display: flex;
		justify-content: center;

		a {
			color: black;
		}
	}
}




.advertisement_content {
	max-height: 450px;
	display: flex;
	width: 100%;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	overflow: hidden;

	.profil_picture_container {
		overflow: hidden;
		height: 200px;
		width: 25%;
		text-align: center;

		img {
			height: 100%;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	.content {
		width: 75%;
	}

	.infos {
		padding: 20px 0;
		margin-left: 15px;

		h3 {
			font-size: 1.4em;
			font-family: "Roboto", Arial, sans-serif;
			width: 80%;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.info_content {
			display: flex;
			margin-top: 10px;

			.more {
				min-width: 90px;
				max-width: 90px;

				>p {
					color: white;
					background-color: $deepBlue;
					text-align: center;
					margin-bottom: 10px;
					padding: 10px 10px;
					border-radius: 9px;
					display: inline-flex;
				}
				
				.seller_infos {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}

			.desc {
				font-weight: 300;
				margin: 0 20px;
				line-height: 18px;
				height: 107px;
				overflow: hidden;
				font-size: 90%;
			}
		}
	}

	.picto {
		position: absolute;

		&.like {
			top: 20px;
			right: 20px;
		}

		&.urgent {
			top: 20px;
			right: 60px;
		}
	}
}