body[data-content="create_advertisement"] {
	section {
		padding: 50px 0;
		overflow: hidden;

		h1 {
			text-align: center;
		}

		label {
			font-weight: 600;
			color: black;
			display: block;
			margin-bottom: 5px;
			font-size: 1.1em;
		}

		input, textarea, select {
			width: 50%;
			border-radius: 5px;
			border: 1px solid $lightGrey;
			font-family: "Roboto", Arial, sans-serif;
			outline: 0;
			padding: 10px;
		}

		textarea {
			height: 100px;
		}

		select {
			width: 25%;
		}

		input[type="submit"] {
			margin: auto;
			background-color: white;
			border: 2px solid $deepBlue;
			border-radius: 20px;
			color: $deepBlue;
			padding: 10px 15px;
			font-weight: 900;
			outline: none;
			cursor: pointer;
			width: min-content;
		}

		.cantClick {
			pointer-events: none;
			border: 2px solid lightgrey !important;
			color: lightgrey !important;
		}

		form {
			margin-top: 50px;
			width: 100vw;
			display: flex;
			flex-direction: column;

			.divPlace {
				position: relative;
				width: 100%;

				.msgPlace {
					display: none;
				}

				#place_lat, #place_lng, .msgFiles {
					display: none;
				}
			}

			.divPhone {
				display: flex;

				input {
					width: auto;
					margin-right: 10px;
				}
			}

			.divDispo {

				.content {
					display: flex;
					margin-top: 20px;

					input {
						width: 150px;
						margin-right: 25px;
					}
				}
			}

			.divPlace {
				width: 50%;

				input {
					width: 100%;
				}

				.loader {
					right: -10px;
					top: 60px;
				}

				.suggestions {
					margin-top: 0;
				}
			}

			.form_container {
				width: 100%;
				padding: 0 100px;
				overflow: hidden;


				.form-group {
					display: none;
					padding-top: 30px;


					select {
						cursor: pointer;
					}

					#price_container {
						.price_content {
							/*display: flex;*/
						}
					}
				}

				.premium_container {
					border: 1px solid black;
				}
			}

			&.js-second {
				transform: translateX(-100vw);
			}

			&.js-third {
				transform: translateX(-200vw)
			}
		}

		.arrow_container {
			width: 250px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;

			>div {
				width: 100px;
				text-align: center;
				cursor: pointer;
				border: 1px solid black;
				padding: 10px;
				background-color: red;

				&.js-active {
					background-color: white;
				}
			}
		}
	}
}