body[data-content="home"]{
    background: $background;

    .recruitingPro{

        h2{
            margin-bottom: 50px;
            span{
                color: $deepBlue;
            }
        }

        .wrap{
            display: flex;
            justify-content: space-between;
            img{
                width: 100%;
            }

            div:first-child{
                width: 30%;
            }
            div:last-child{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                >div{
                    width: 100%;
                }
            }
        }
    }

    .findJob{

        margin-bottom: 50px;

        h2{
            margin-bottom: 50px;
            span{
                color: $deepBlue;
            }
        }

        .wrap{
            display: flex;
            justify-content: space-between;
            img{
                width: 100%;
            }

            div:first-child{
                width: 55%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                >div{
                    width: 100%;
                }
            }
            div:last-child{
                width: 35%;
            }
        }
    }

    .catchBanner{
        position: relative;
        overflow: hidden;

        .backgroundBanner{
            width: 100%;
            transform: scaleX(-1);
            position: absolute;
            z-index: -1;

            top: -100px;
        }

        .wrap{

            margin: 250px 0 100px 0;
            h2 {
                color: #FFFFFF;
                margin-bottom: 50px;

                line-height: 70px;

                span{
                    color: $deepBlue;
                }
            }
        }
    }

    nav {
        background-color: rgba(0,0,0,0);
        position: absolute;
    }
}
