body[data-content="homeIndividual"]{
    background-color: $background;
    height: 100vh;

    overflow-x: hidden;

    .topPro{

        padding: 50px 0;

        h1{
            color: #000000;
            margin-bottom: 50px;

            span{
                color: $deepBlue;
            }
        }

        .wrap{
            p{
                text-align: justify;
            }
            >div{
                display: flex;
                justify-content: space-around;

                >div{
                    display: flex;
                    flex-direction: column;

                    justify-content: center;
                    align-items: center;

                    /*margin: 0 30px 0 30px;*/

                    width: calc(80%/3);

                    >*{
                        margin-bottom: 10px;
                    }

                    .img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50% 50%;
                        background-color: $deepBlue;
                    }

                    .comment{
                        position: relative;
                        svg{
                            position: absolute;
                            width: 40px;
                            color: $deepBlue;
                            opacity: 0.1;
                        }

                        svg:first-child{
                            top: -20px;
                            left: -20px;
                        }
                        svg:last-child{
                            bottom: -20px;
                            right: -20px;
                            transform: rotate(180deg);
                        }
                    }

                    >p{
                        font-weight: 500;

                        span{
                            color: $deepBlue;
                        }
                    }
                }
            }
        }

    }

    .topSport{
        background: $deepBlue;
        padding: 50px 0;
        position: relative;
        z-index: 1;

        /*.splitterBanner{
            position: absolute;
            width: 150%;
            height: 163px;
            background-color: $deepBlue;
            z-index: 100;
            bottom: -28px;
            transform: rotate(-4deg);
            left: -30px;
        }*/

        .wrap{

            h1{
                color: #FFFFFF;
                margin-bottom: 50px;

                span{
                    color: #000000;
                }
            }

            >div{

                display: flex;
                justify-content: space-between;

                >div{
                    width: calc(90%/4);
                    height: 350px;

                    background-color: #FFFFFF;

                    border-radius: 2% 2%;

                    cursor: pointer;
                }
            }
        }
    }


    .catchBanner{
       position: relative;
        overflow: hidden;

        .backgroundBanner{
            width: 100%;
            transform: scaleX(-1);
            position: absolute;
            z-index: -1;

            top: -100px;
        }

        .wrap{

            margin: 250px 0 100px 0;
            h1 {
                color: #FFFFFF;
                margin-bottom: 50px;

                line-height: 70px;

                span{
                    color: $deepBlue;
                }
            }
        }
    }

    .weGuideNews{
        padding: 50px 0;
        overflow: hidden;

        h1 {
            color: #000000;
            margin-bottom: 50px;

            span{
                color: $deepBlue;
            }
        }

        h2{
            margin-bottom: 20px;
        }

        p{
            text-align: justify;
        }

        .wrap{

            >div{
                display: flex;
                justify-content: space-around;
                position: relative;

                svg{
                    position: absolute;
                    color: $deepBlue;
                    opacity: 0.1;
                    z-index: -1;
                }

                svg:nth-of-type(1){
                    width: 400px;
                    top: -180px;
                    right: -100px;
                    transform: rotate(40deg);
                }
                svg:nth-of-type(2){
                    width: 300px;
                    top: -10px;
                    left: -100px;
                    transform: rotate(-130deg);
                }

                >div{

                    cursor: pointer;

                    width: calc(80%/3);

                    >div{
                        width: 100%;

                        img{
                            width: 100%;
                            border-radius: 2% 2%;

                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

}
