body[data-content="homeIndividual"]{
    background-color: $background;
    height: 100vh;

    overflow-x: hidden;

    .topPro{

        h2{
            color: #000000;
            margin-bottom: 40px;

            span{
                color: $deepBlue;
            }
        }

        .wrap{
            p{
                text-align: justify;
            }
            >div{
                display: flex;
                justify-content: space-around;

                >div{
                    display: flex;
                    flex-direction: column;

                    justify-content: center;
                    align-items: center;

                    /*margin: 0 30px 0 30px;*/

                    width: calc(80%/3);

                    >*{
                        margin-bottom: 10px;
                    }

                    .img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50% 50%;
                        background-color: $deepBlue;
                    }

                    .comment{
                        position: relative;
                        svg{
                            position: absolute;
                            width: 40px;
                            color: $deepBlue;
                            opacity: 0.1;
                        }

                        svg:first-child{
                            top: -20px;
                            left: -20px;
                        }
                        svg:last-child{
                            bottom: -20px;
                            right: -20px;
                            transform: rotate(180deg);
                        }
                    }

                    >p{
                        font-weight: 500;

                        span{
                            color: $deepBlue;
                        }
                    }
                }
            }
        }

    }

    /*.icon {
        width: 100%;
    }*/
}
