body[data-content="mes_annonces"] {

	.divHead {
		display: flex;
		align-items: center;
		justify-content: center;

		button, input {
			margin: 0 20px;
			outline: none;
		}

		button {
			background: white;
			color: $deepBlue;
			border: 2px solid $deepBlue;
		}
	}

	input {
		height: 20px;
		width: 20px;
	}

	.divOnglet {
		display: flex;
		border-bottom: 1px solid black;
		margin: 40px 0;
		font-size: 110%;

		div {
			padding-bottom: 1px;
			cursor: pointer;

			span {
				padding: 5px 20px;
				display: block;
			}
		}

		.selected {
			border-bottom: 4px solid $deepBlue;
		}
	}

	.hidden {
		display:none;
	}

}