body[data-content="register"]{
    .registration{
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100vh;
        z-index: 999;

        position: absolute;

        .wrap{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            #close-registration{
                margin-right: 100px;
                position: absolute;
                right: 0;
                width: 3%;

                cursor: pointer;
            }
            >div{
                background-color: #FFFFFF;
                width: 80%;
                height: 90vh;
                display: flex;

                >div{
                    padding: 50px 100px;
                }

                >div:first-child{
                    width: 40%;
                    background-image: url("/img/asoggetti-xqBllPa7XEs-unsplash.jpg");
                    background-size: cover;
                    background-position: 75% 0%;

                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    box-sizing: border-box;

                    span{
                        font-family: "Roboto", Arial, sans-serif;
                        font-weight: 700;
                        font-size: 1.5em;
                        color: #FFFFFF;
                    }
                }
                >div:last-child{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >div, >form{
                        width: 100%;
                    }

                    .registrationNav{
                        display: flex;
                        justify-content: space-around;
                        margin-bottom: 50px;
                        height: 5%;

                        span{
                            color: #000000;
                            font-family: "Roboto", Arial, sans-serif;
                            font-weight: 700;
                            font-size: 1em;
                            text-transform: uppercase;
                            cursor: pointer;

                            position: relative;
                        }

                        .is-selected::after{
                            content: "";
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: $gradient;
                            position: absolute;
                            bottom: -7px;
                        }
                    }

                    .main-carousel{
                        width: 100%;
                        height: 95%;
                        position: relative;
                        overflow-y: auto;
                        overflow-x: hidden;

                        .flickity-page-dots {
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            position: absolute;
                        }

                        .flickity-page-dots .dot {
                            height: 4px;
                            width: 40px;
                            margin: 0;
                            border-radius: 0;
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                        .flickity-page-dots .dot.is-selected {
                            background: $deepBlue;
                            border-radius: 200px 200px 200px 200px;
                            -moz-border-radius: 200px 200px 200px 200px;
                            -webkit-border-radius: 200px 200px 200px 200px;
                            border: 0px solid #000000;
                        }

                        .carousel-cell{
                            width: 100%; /* full width */
                            margin-right: 20px;
                            padding: 5px;
                            box-sizing: border-box;

                            .registration-request {
                                color: #000000;
                                font-family: "Roboto", Arial, sans-serif;
                                font-weight: 500;
                                font-size: 1.3em;
                                line-height: 35px;
                                padding-bottom: 30px;
                            }

                            .registration-detail {
                                position: absolute;
                                bottom: -20px;
                                color: #000000;
                                opacity: 0.3;
                                font-family: "Roboto", Arial, sans-serif;
                                font-weight: 400;
                                font-size: 1em;
                            }

                            p {
                                margin-right: 30px;
                                cursor: pointer;
                            }

                            i {
                                opacity: 0.2;
                            }

                            input[type="password"],[type="text"],[type="date"], {
                                width: 60%;
                                display: block;
                                border: none;
                                padding-bottom: 10px;
                                border-bottom: solid 2px rgba(0, 0, 0, 0.6);
                                background-position: -200px 0;
                                background-size: 200px 100%;
                                background-repeat: no-repeat;
                                color: #000000;
                                opacity: 0.3;
                                font-family: "Roboto", Arial, sans-serif;
                                font-weight: 400;
                                font-size: 1em;

                                &:focus, &:valid {
                                    box-shadow: none;
                                    outline: none;
                                    background-position: 0 0;
                                    transition: 0.2s;
                                    border-bottom: solid 2px $deepBlue;
                                    color: $deepBlue;
                                    opacity: 1;
                                    &::-webkit-input-placeholder {
                                        color: $deepBlue;
                                        font-size: 11px;
                                        transform: translateY(-20px);
                                        visibility: visible !important;
                                    }
                                }
                            }

                            select {
                                border: none;
                                color: #000000;
                                font-family: "Roboto", Arial, sans-serif;
                                font-weight: 400;
                                font-size: 1em;
                            }
                        }

                        .registration-step1{

                            .registration-answer{

                                >div {
                                    display: flex;
                                    margin-bottom: 40px;
                                    position: relative;
                                }
                            }
                        }
                        .registration-step2{

                            .registration-answer{

                                >div {
                                    display: flex;
                                    margin-bottom: 20px;
                                    position: relative;
                                }

                                a {
                                    margin: auto;
                                }
                            }
                        }

                        .registration-step3{

                            .registration-answer{

                                >div {
                                    display: flex;
                                    margin-bottom: 20px;
                                    position: relative;
                                    align-items: flex-start;
                                }

                                label {
                                    color: #000000;
                                    font-family: "Roboto", Arial, sans-serif;
                                    font-weight: 400;
                                    font-size: 1em;

                                    a {
                                        color: #29ABE2;
                                        font-family: "Roboto", Arial, sans-serif;
                                        font-weight: 400;
                                        font-size: 1em;
                                    }
                                }

                                a,button {
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

