.weGuideNews{
    padding: 50px 0;
    overflow: hidden;

    h2 {
        color: #000000;
        margin-bottom: 50px;

        span{
            color: $deepBlue;
        }
    }

    h3{
        margin-bottom: 20px;
    }

    p{
        text-align: justify;
    }

    .wrap{

        >div{
            display: flex;
            justify-content: space-around;
            position: relative;

            svg{
                position: absolute;
                color: $deepBlue;
                opacity: 0.1;
                z-index: -1;
            }

            svg:nth-of-type(1){
                width: 400px;
                top: -180px;
                right: -100px;
                transform: rotate(40deg);
            }
            svg:nth-of-type(2){
                width: 300px;
                top: -10px;
                left: -100px;
                transform: rotate(-130deg);
            }

            >div{

                cursor: pointer;

                width: calc(80%/3);

                >div{
                    width: 100%;

                    img{
                        width: 100%;
                        border-radius: 2% 2%;

                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
