@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background: #FFFFFF;
}

.wrap {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1em;
}

a {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.8em;
}

label {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: linear-gradient(to left, #29abe2, #29ade5, #2ab0e9, #2ab2ec, #2bb5f0);
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
}

.weGuideNews {
  padding: 50px 0;
  overflow: hidden;
}

.weGuideNews h1 {
  color: #000000;
  margin-bottom: 50px;
}

.weGuideNews h1 span {
  color: #29ABE2;
}

.weGuideNews h2 {
  margin-bottom: 20px;
}

.weGuideNews p {
  text-align: justify;
}

.weGuideNews .wrap > div {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.weGuideNews .wrap > div svg {
  position: absolute;
  color: #29ABE2;
  opacity: 0.1;
  z-index: -1;
}

.weGuideNews .wrap > div svg:nth-of-type(1) {
  width: 400px;
  top: -180px;
  right: -100px;
  transform: rotate(40deg);
}

.weGuideNews .wrap > div svg:nth-of-type(2) {
  width: 300px;
  top: -10px;
  left: -100px;
  transform: rotate(-130deg);
}

.weGuideNews .wrap > div > div {
  cursor: pointer;
  width: calc(80%/3);
}

.weGuideNews .wrap > div > div > div {
  width: 100%;
}

.weGuideNews .wrap > div > div > div img {
  width: 100%;
  border-radius: 2% 2%;
  margin-bottom: 20px;
}

nav {
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  z-index: 900;
  width: 100%;
  padding: 25px 0;
}

nav .wrap {
  display: flex;
  justify-content: space-between;
}

nav .wrap > div {
  display: flex;
  align-items: center;
}

nav .wrap > div a {
  display: flex;
  align-items: center;
}

nav .wrap .navLogo img {
  width: 10%;
}

nav .wrap .navMain > * {
  margin-left: 25px;
  white-space: nowrap;
}

nav .wrap .section a:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

nav .wrap .arrow {
  font-size: 10px;
  padding: 5px 0 0 6px;
}

nav .wrap .img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 8px;
  background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

header {
  background-image: url("/img/ski1.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

header h1 {
  padding-top: 160px;
  color: white;
  text-align: center;
}

header #select {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 50px auto 0 auto;
}

header #select a {
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  border-radius: 50px;
}

header #select a:nth-of-type(1) {
  color: white;
  background-color: #29ABE2;
}

header #select a:nth-of-type(2) {
  color: #29ABE2;
  background-color: white;
}

header form {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 50px auto 0 auto;
  border-radius: 9px;
  padding: 20px 20px;
}

header form .header_filter {
  display: flex;
  flex-direction: column;
}

header form .header_filter select {
  margin-top: 10px;
  border: none;
  outline: 0;
  margin-left: -4px;
  cursor: pointer;
}

header form > img {
  cursor: pointer;
}

header #bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 140px;
  width: 100%;
  -webkit-clip-path: polygon(0 10%, 0% 101%, 100% 101%);
          clip-path: polygon(0 10%, 0% 101%, 100% 101%);
}

footer {
  color: white;
  text-align: center;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  background: linear-gradient(to left, #29abe2, #29ade5, #2ab0e9, #2ab2ec, #2bb5f0);
  /*.footerTop {
  	height: 105px;
  	background-color: $deepBlue;
  	clip-path: polygon(0% 0%, 105% 101%, 0% 101%);
  }*/
}

footer .wrap {
  padding: 150px 0;
}

footer .wrap span {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  opacity: 1;
  font-size: 1.2em;
  text-transform: uppercase;
}

footer .wrap > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 0;
}

footer .wrap > div:nth-of-type(1) img {
  width: 10%;
}

footer .wrap > div:nth-of-type(1) a {
  font-size: 2em;
}

footer .wrap > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

footer .wrap > div:nth-of-type(2) a {
  display: block;
  opacity: 0.75;
}

footer .wrap > div:nth-of-type(2) a:hover {
  opacity: 1;
}

footer .wrap > div:nth-of-type(2) > div {
  text-align: left;
}

footer .wrap > div:nth-of-type(2) > div > * {
  margin: 20px 0;
}

footer .wrap > div:nth-of-type(2) div:nth-of-type(2) {
  margin: 0 80px;
}

footer .wrap > div:nth-of-type(2) div:nth-of-type(3) > div {
  display: flex;
  justify-content: space-between;
}

footer .wrap > div:nth-of-type(2) div:nth-of-type(3) > div i {
  font-size: 25px;
}

.modal {
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 30vw;
  max-width: 450px;
  background-color: white;
  top: 0;
  right: 0;
  box-shadow: 0px 2px 12px black;
  display: block;
}

.modal section {
  margin-right: 30px;
  margin-left: 30px;
}

.modal span {
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 85%;
}

.modal span:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal .content {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.modal .content #premium {
  color: #29ABE2;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal .head {
  display: flex;
  align-items: center;
  margin: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 30px;
}

.modal .head p {
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 130%;
  margin: auto 0;
}

.modal .head .img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 8px;
  background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

.modal .bottom {
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reste {
  position: fixed;
  background-color: black;
  opacity: 0.3;
  height: 100vw;
  width: 100vw;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.t {
  overflow: hidden;
}

.divConnexion {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
}

.divConnexion div {
  margin-bottom: 30px;
}

.divConnexion .title a,
.divConnexion .bottom a {
  color: black;
}

.divConnexion .title {
  margin: 60px 0 90px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.divConnexion .title a {
  padding: 5px 5px;
  margin: 0 20%;
}

.divConnexion .inputs {
  display: block;
  margin-bottom: 90px;
}

.divConnexion .inputs label {
  display: block;
}

.divConnexion .inputs input {
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.divConnexion .btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.divConnexion .bottom {
  text-align: center;
  font-size: 75%;
  opacity: 0.7;
}

.divConnexion .selected {
  border-bottom: 2px solid #29ABE2;
}

.fond {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 9;
}

.hidden {
  display: none;
}

body[data-content=home] {
  background: #FFFFFF;
}

body[data-content=home] .recruitingPro h1 {
  margin-bottom: 50px;
}

body[data-content=home] .recruitingPro h1 span {
  color: #29ABE2;
}

body[data-content=home] .recruitingPro .wrap {
  display: flex;
  justify-content: space-between;
}

body[data-content=home] .recruitingPro .wrap img {
  width: 100%;
}

body[data-content=home] .recruitingPro .wrap div:first-child {
  width: 30%;
}

body[data-content=home] .recruitingPro .wrap div:last-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body[data-content=home] .recruitingPro .wrap div:last-child > div {
  width: 100%;
}

body[data-content=home] .findJob {
  margin-bottom: 50px;
}

body[data-content=home] .findJob h1 {
  margin-bottom: 50px;
}

body[data-content=home] .findJob h1 span {
  color: #29ABE2;
}

body[data-content=home] .findJob .wrap {
  display: flex;
  justify-content: space-between;
}

body[data-content=home] .findJob .wrap img {
  width: 100%;
}

body[data-content=home] .findJob .wrap div:first-child {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body[data-content=home] .findJob .wrap div:first-child > div {
  width: 100%;
}

body[data-content=home] .findJob .wrap div:last-child {
  width: 35%;
}

body[data-content=home] .catchBanner {
  position: relative;
  overflow: hidden;
}

body[data-content=home] .catchBanner .backgroundBanner {
  width: 100%;
  transform: scaleX(-1);
  position: absolute;
  z-index: -1;
  top: -100px;
}

body[data-content=home] .catchBanner .wrap {
  margin: 250px 0 100px 0;
}

body[data-content=home] .catchBanner .wrap h1 {
  color: #FFFFFF;
  margin-bottom: 50px;
  line-height: 70px;
}

body[data-content=home] .catchBanner .wrap h1 span {
  color: #29ABE2;
}

body[data-content=homeIndividual] {
  background-color: #FFFFFF;
  height: 100vh;
  overflow-x: hidden;
}

body[data-content=homeIndividual] .topPro {
  padding: 50px 0;
}

body[data-content=homeIndividual] .topPro h1 {
  color: #000000;
  margin-bottom: 50px;
}

body[data-content=homeIndividual] .topPro h1 span {
  color: #29ABE2;
}

body[data-content=homeIndividual] .topPro .wrap p {
  text-align: justify;
}

body[data-content=homeIndividual] .topPro .wrap > div {
  display: flex;
  justify-content: space-around;
}

body[data-content=homeIndividual] .topPro .wrap > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: 0 30px 0 30px;*/
  width: calc(80%/3);
}

body[data-content=homeIndividual] .topPro .wrap > div > div > * {
  margin-bottom: 10px;
}

body[data-content=homeIndividual] .topPro .wrap > div > div .img {
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  background-color: #29ABE2;
}

body[data-content=homeIndividual] .topPro .wrap > div > div .comment {
  position: relative;
}

body[data-content=homeIndividual] .topPro .wrap > div > div .comment svg {
  position: absolute;
  width: 40px;
  color: #29ABE2;
  opacity: 0.1;
}

body[data-content=homeIndividual] .topPro .wrap > div > div .comment svg:first-child {
  top: -20px;
  left: -20px;
}

body[data-content=homeIndividual] .topPro .wrap > div > div .comment svg:last-child {
  bottom: -20px;
  right: -20px;
  transform: rotate(180deg);
}

body[data-content=homeIndividual] .topPro .wrap > div > div > p {
  font-weight: 500;
}

body[data-content=homeIndividual] .topPro .wrap > div > div > p span {
  color: #29ABE2;
}

body[data-content=homeIndividual] .topSport {
  background: #29ABE2;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  /*.splitterBanner{
      position: absolute;
      width: 150%;
      height: 163px;
      background-color: $deepBlue;
      z-index: 100;
      bottom: -28px;
      transform: rotate(-4deg);
      left: -30px;
  }*/
}

body[data-content=homeIndividual] .topSport .wrap h1 {
  color: #FFFFFF;
  margin-bottom: 50px;
}

body[data-content=homeIndividual] .topSport .wrap h1 span {
  color: #000000;
}

body[data-content=homeIndividual] .topSport .wrap > div {
  display: flex;
  justify-content: space-between;
}

body[data-content=homeIndividual] .topSport .wrap > div > div {
  width: calc(90%/4);
  height: 350px;
  background-color: #FFFFFF;
  border-radius: 2% 2%;
  cursor: pointer;
}

body[data-content=homeIndividual] .catchBanner {
  position: relative;
  overflow: hidden;
}

body[data-content=homeIndividual] .catchBanner .backgroundBanner {
  width: 100%;
  transform: scaleX(-1);
  position: absolute;
  z-index: -1;
  top: -100px;
}

body[data-content=homeIndividual] .catchBanner .wrap {
  margin: 250px 0 100px 0;
}

body[data-content=homeIndividual] .catchBanner .wrap h1 {
  color: #FFFFFF;
  margin-bottom: 50px;
  line-height: 70px;
}

body[data-content=homeIndividual] .catchBanner .wrap h1 span {
  color: #29ABE2;
}

