header {
	background-image: url('/img/ski1.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;

	h1 {
		padding-top: 160px;
		color: white;
		text-align: center;
	}

	input[type="date"] {
        cursor: text;
    }

	input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

	#select {
		display: flex;
		justify-content: space-between;
		width: 600px;
		margin: 50px auto 0 auto;

		a {
			cursor: pointer;
			font-size: 14px;
			padding: 20px 0;
			width: 250px;
			text-align: center;
			border-radius: 50px;

			&:nth-of-type(1) {
				color: white;
				background-color: $deepBlue;
			}

			&:nth-of-type(2) {
				color: $deepBlue;
				background-color: white;
			}
		}
	}
}

.first_filter {
	background-color: white;
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 50px auto 0 auto;
	border-radius: 9px;
	padding: 20px 20px;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.22);

	.header_filter {
		display: flex;
		flex-direction: column;

		input, select {
			margin-top: 10px;
			border: none;
			outline: 0;
			margin-left: -4px;
		}

		select {
			background-color: $deepBlue;
			color: white;

			option {
				background-color: white;
				color: black;
			}
		}
	}

	.divSearch {
		align-items: center;
		justify-content: center;
		display: flex;
		margin-left: 15px;

		i {
			font-size: 110%;
			position: absolute;
			pointer-events: none;
			color: white;
			z-index: 500;
		}

		input {
			height: 40px;
			width: 40px;
			border: none;
			background-color: $clearBlue;
			border-radius: 50%;
			padding-bottom: 2px;
    		padding-right: 1px;
    		box-shadow: 2px 2px 3px #0000008c;
    		transition: transform .3s;
    		outline: none;
    		cursor: pointer;
		}

		input:hover,  {
			transform: scale(1.1);
		}

	}
}

#bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: white;
	height: 140px;
	width: 100%;
	clip-path: polygon(0 10%, 0% 101%, 100% 101%);
}

body[data-content="create_advertisement"] {

	.first_filter {
		background-color: $deepBlue;
	}

	label {
		color: white;
	}
}