.modal {
	z-index: 910;
	position: fixed;
	height: 100vh;
	width: 30vw;
	max-width: 450px;
	background-color: white;
	top: 0;
	right: 0;

	animation: openModalP .5s ease forwards;

	@keyframes openModalP {
		0% {
			right: -100%;
		}
		100% {
			right: 0%;
		}
	}

	display: block;

	section {
		margin-right: 30px;
		margin-left: 30px;
	}

	span {
		display: block;
		padding: 10px;
		font-weight: bold;
		font-size: 85%;
	}

	span:hover {
		opacity: .6;
		cursor: pointer;
	}

	.content {
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;

		#premium {
			color: $deepBlue;
			border-top: 1px solid lightgrey;
			border-bottom: 1px solid lightgrey;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.head {
		display: flex;
		align-items: center;
		margin: auto;
		width: min-content;
		padding: 30px;

		p {
			display: block;
			padding: 10px;
			font-weight: bold;
			font-size: 130%;
			margin: auto 0;
		}

		.img {
			height: 70px;
			width: 70px;
			border-radius: 50%;
			margin-right: 8px;

			background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
			background-size: cover;
			background-position: center;
		}

	}

	.bottom {
		border-bottom: 1px solid lightgrey;
		padding-top: 5px;
		padding-bottom: 5px;
	}

}

.reste {
    z-index: 909;
	position: fixed;
	background-color: black;
	opacity: .3;
	height: 100vw;
	width: 100vw;
	top: 0;
	left: 0;
    cursor: pointer;
}

.hidden {
	display: none;
}

.t {
	overflow: hidden;
}
