nav {
	color: #FFFFFF;
    background-color: $deepBlue;
	text-align: center;
    z-index: 900;
    width: 100%;
    padding: 25px 0;

    .wrap {
        display: flex;
        justify-content: space-between;

        >div{
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
            }
        }

        .navLogo {

            img{
                /*width: 10%;*/
                width: 30px;
            }
        }

        .navMain {
            >*{
                margin-left: 25px;
                white-space: nowrap;
            }

            .js-toggleModalProfil {
                cursor: pointer;
            }

            >div{

                display: flex;
                align-items: center;

                >div{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    margin-right: 8px;

                    overflow: hidden;
                    img{
                        height: 35px;
                        width: 35px;
                        object-fit: cover;
                    }
                }
                span{
                    font-family: "Roboto", Arial, sans-serif;
                    font-weight: 500;
                    text-decoration: none;
                    color: #FFFFFF;
                    font-size: 0.8em;
                }
            }
        }

        .arrow {
            font-size: 10px;
            padding: 5px 0 0 6px;
        }
    }
}

/*.onMoveNav
{
    background-color: #ffca00;
    position: fixed;
    width: 100%;
    z-index: 998;
}

.navHidden
{
    top: -200px;
    transition: .2s;
}

.navShow
{
    top: 0;
    transition: .2s;
}*/
