
nav {
	color: white;
	background-color: $deepBlue;
	text-align: center;
}

nav div {
	display: flex;

	.logo {
		margin: 0;
	}

	.section {
		display: flex;
		margin: 0 0 0 auto;
	}

	a {
		display: flex;
		padding: 30px;
		align-items: center;
	}

	.buttonLink {
		padding: 0;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.section a:hover {
		color: rgba(255,255,255,.7);
		cursor: pointer;
	}

	.arrow {
		font-size: 10px;
		padding: 5px 0 0 6px;
	}

	.img {
		height: 35px;
		width: 35px;
		border-radius: 50%;
		margin-right: 8px;

		background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
		background-size: cover;
		background-position: center;
	}
}
