body[data-content="register"]{
    .register{
        width: 100%;

        h1{
            padding: 50px 0;
        }

        h2{
            font-size: 1.2em;
            opacity: .8;
        }

        label{
            color: #000000;
            font-family: "Roboto", Arial, sans-serif;
            font-weight: 400;
            font-size: 1em;
        }

        .wrap{
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            form{
                width: 100%;

                margin-bottom: 100px;

                hr{
                    width: 100%;
                    opacity: .1;
                }

                .buttonLink{
                    margin: auto;
                }

                .registration-middleStep, .registration-finalStep{
                    hr{
                        margin-bottom: 50px;
                    }
                }

                .registration-step{
                    width: 100%;
                    margin-bottom: 50px;

                    .registration-request {
                        color: #000000;
                        font-family: "Roboto", Arial, sans-serif;
                        font-weight: 500;
                        font-size: 1.3em;
                        line-height: 35px;
                        padding-bottom: 30px;
                    }

                    .registration-detail {
                        position: absolute;
                        bottom: -20px;
                        color: #000000;
                        opacity: 0.3;
                        font-family: "Roboto", Arial, sans-serif;
                        font-weight: 400;
                        font-size: 1em;
                    }

                    p {
                        margin-right: 30px;
                        cursor: pointer;
                    }

                    i {
                        opacity: 0.2;
                    }

                    .form-group{
                        input {
                            display: block;
                            border: none;
                            padding-bottom: 10px;
                            border-bottom: solid 2px rgba(0, 0, 0, 0.6);
                            background-position: -200px 0;
                            background-size: 200px 100%;
                            background-repeat: no-repeat;
                            color: #000000;
                            opacity: 0.3;
                            font-family: "Roboto", Arial, sans-serif;
                            font-weight: 400;
                            font-size: 1em;
                        }
                        input:focus, {
                            box-shadow: none;
                            outline: none;
                            background-position: 0 0;
                            transition: 0.2s;
                            border-bottom: solid 2px $deepBlue;
                            color: $deepBlue;
                            opacity: 1;
                        }
                    }

                    select {
                        border: none;
                        color: #000000;
                        font-family: "Roboto", Arial, sans-serif;
                        font-weight: 400;
                        font-size: 1em;
                    }
                }

                .registration-middleStep{

                    .registration-answer{
                        display: flex;

                        >div{
                            margin-right: 50px;
                        }
                    }
                }

                .registration-finalStep{

                    .registration-answer{

                        >div {
                            display: flex;
                            margin-bottom: 20px;
                            position: relative;
                            align-items: flex-start;
                        }

                        >div:first-child{
                            margin-bottom: 50px;
                            >*{
                                margin-right: 50px;
                            }
                            div{

                            }
                        }

                        .passwordBox{
                            display: flex;
                            >*{
                                margin-right: 50px;
                            }
                        }

                        .cguLink{
                            label{
                                color: $deepBlue;
                                cursor: pointer;
                            }
                        }

                        a,button {
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

